In [2]:
import numpy as np
import pandas as pd

Features: 
* Time peak
  - Check time series distribution relative to perofrmance (pure stats) and see if there's any merit to the time of peak of a player.
* Formula (Raw Score & With Peak & Probability).
  - Come up with formula to calculate the raw score (with and without peak) and the probability of winning all-nba.
  - My theory is that we'll have to group and compare stats by position (guard, forward, and center). Then we ought to arrange all players that season and see their average standing to calculate for the weights.
  - Another theory is that the time of peak performance of a player has an effect on the likelihood that an nba player will be picked as an all-nba player.
  - Team-success should also be considered.
* Compare to average game score per season
  - Test statistical significance (Correlation or MSE) between game score and winning all-nba modell.
* Testing of accuracy
  - For the probability, we could test using MSE. With 1 being an All-NBA player and 0 if not.
  - Or arange them by their score (from derrived formula) that season and show accurate our list is based on the official all-nba. 

Problems
* Stats to consider
  - Different positions have different emphasis (guards are more considered valuable if they could facilitate while centers are more valuable for their defensive output)
  - The challenge here lies in how to get these emphasis
  - My theory is we could get this through averaging the stats of all-nba players and non all-nba players and rank them based on their deviations. The more deviation, the higher emphasis.
* Training Model for weights?
  - regression logistic
* Should we remove the classic era?
  - It is possible to identify three main Eras that we define as the Classic Era of the NBA (1980–1994), the Transitional Era of the NBA (1995–2013), and the Modern Era of the NBA (since 2013) ([link](https://content.iospress.com/articles/journal-of-sports-analytics/jsa200525))

## ALL NBA ORIGINAL CSV

In [3]:
df_season_awards = pd.read_csv('End of Season Teams (Voting).csv')
df_all_nba = df_season_awards[df_season_awards['type']=='All-NBA']
df_all_nba.head(10)

,season,lg,type,number_tm,position,player,age,tm,pts_won,pts_max,share,x1st_tm,x2nd_tm,x3rd_tm,seas_id,player_id
34,2024,NBA,All-NBA,1T,C,Nikola Jokić,28,DEN,495.0,495.0,1.000,99.0,0.0,0.0,31672,4352
35,2024,NBA,All-NBA,1T,G,Shai Gilgeous-Alexander,25,OKC,495.0,495.0,1.000,99.0,0.0,0.0,31769,4670
36,2024,NBA,All-NBA,1T,G,Luka Dončić,24,DAL,493.0,495.0,0.996,98.0,1.0,0.0,31593,4654
37,2024,NBA,All-NBA,1T,F,Giannis Antetokounmpo,29,MIL,473.0,495.0,0.956,88.0,11.0,0.0,31366,4164
38,2024,NBA,All-NBA,1T,F,Jayson Tatum,25,BOS,427.0,495.0,0.863,65.0,34.0,0.0,31468,4518
39,2024,NBA,All-NBA,2T,G,Jalen Brunson,27,NYK,368.0,495.0,0.743,37.0,61.0,0.0,31429,4630
40,2024,NBA,All-NBA,2T,G,Anthony Edwards,22,MIN,285.0,495.0,0.576,3.0,87.0,9.0,31171,4808
41,2024,NBA,All-NBA,2T,F,Kevin Durant,35,PHO,274.0,495.0,0.554,2.0,85.0,9.0,31551,3770
42,2024,NBA,All-NBA,2T,F,Kawhi Leonard,32,LAC,242.0,495.0,0.489,1.0,72.0,21.0,31531,4032
43,2024,NBA,All-NBA,2T,C,Anthony Davis,30,LAL,230.0,495.0,0.465,1.0,65.0,30.0,31170,4066

## Stats Per Game Original

In [4]:
df_season_stats = df_season_awards = pd.read_csv('Player Per Game.csv')
df_season_stats.head()

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,ft_percent,orb_per_game,drb_per_game,trb_per_game,ast_per_game,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game
0,31871,2025,5025,A.J. Green,NaN,SG,25.0,3,NBA,MIL,...,1.000,0.0,0.4,0.4,0.6,0.2,0.0,0.2,0.2,3.4
1,31872,2025,5210,AJ Johnson,NaN,SG,20.0,1,NBA,MIL,...,NaN,0.0,0.3,0.3,0.0,0.0,0.0,0.0,0.0,0.7
2,31873,2025,4219,Aaron Gordon,NaN,PF,29.0,11,NBA,DEN,...,0.857,3.3,4.3,7.5,3.5,1.0,0.5,2.0,2.0,15.5
3,31874,2025,4582,Aaron Holiday,NaN,PG,28.0,7,NBA,HOU,...,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,31875,2025,4805,Aaron Nesmith,NaN,SF,25.0,5,NBA,IND,...,0.846,0.8,3.8,4.6,1.0,0.8,0.4,0.8,4.8,8.6

In [5]:
print(df_season_awards.duplicated(subset=['season', 'player_id']).sum())
print(df_season_stats.duplicated(subset=['season', 'player_id']).sum())

6053
6053

### Combining Duplicated rows
as it turns out, players who were traded half-way have separate entry. Before we could proceed accordingly, it is imperative to combine them.

In [6]:
def weighted_mean(series, weights):
    return (series * weights).sum() / weights.sum()

aggregation_dict = {
    'mp_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),   # Weighted minutes
    'fg_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),   # Weighted field goals
    'fga_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted field goal attempts
    'fg_percent': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),    # Weighted FG%
    'x3p_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted 3-pointers made
    'x3pa_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']), # Weighted 3-point attempts
    'x3p_percent': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),   # Weighted 3P%
    'x2p_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted 2-pointers made
    'x2pa_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']), # Weighted 2-point attempts
    'x2p_percent': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),   # Weighted 2P%
    'e_fg_percent': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted Effective FG%
    'ft_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),   # Weighted free throws
    'fta_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted free throw attempts
    'ft_percent': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),    # Weighted FT%
    'orb_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted offensive rebounds
    'drb_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted defensive rebounds
    'trb_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted total rebounds
    'ast_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted assists
    'stl_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted steals
    'blk_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted blocks
    'tov_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted turnovers
    'pf_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),   # Weighted personal fouls
    'pts_per_game': lambda x: weighted_mean(x, df_season_stats.loc[x.index, 'g']),  # Weighted points
}

additional_aggregation = {
    'seas_id': 'first',  # Keep the first season ID
    'player': 'first',   # Keep the player's name
    'birth_year': 'first',  # Keep birth year
    'pos': 'first',  # Keep the first position
    'age': 'mean',   # Average age
    'experience': 'mean',  # Average experience
    'g': 'sum'       # Total games played
}

aggregation_dict.update(additional_aggregation)

# df_combined = df_season_stats.groupby(['season', 'player_id']).agg(aggregation_dict).reset_index()
# df_combined.head()

df_season_stats.dtypes

## Loading Fixed NBA Stats Per Game without duplicates

In [7]:
nba_stats_per_game = pd.read_csv('nba_per_game_no_duplicates.csv')
nba_stats_per_game

,season,player_id,mp_per_game,fg_per_game,fga_per_game,fg_percent,x3p_per_game,x3pa_per_game,x3p_percent,x2p_per_game,...,tov_per_game,pf_per_game,pts_per_game,seas_id,player,birth_year,pos,age,experience,g
0,1947,1,0.0,3.8,15.0,0.256,0.0,0.0,0.000,3.8,...,0.0,2.0,9.8,1,Al Brightman,NaN,F,23.0,1.0,58
1,1947,2,0.0,0.2,1.6,0.125,0.0,0.0,0.000,0.2,...,0.0,1.2,0.8,2,Al Lujack,NaN,F,26.0,1.0,5
2,1947,3,0.0,1.2,6.3,0.188,0.0,0.0,0.000,1.2,...,0.0,1.8,2.8,3,Al Negratti,NaN,F-C,25.0,1.0,11
3,1947,4,0.0,3.8,13.6,0.281,0.0,0.0,0.000,3.8,...,0.0,2.0,9.4,4,Angelo Musi,NaN,G,28.0,1.0,60
4,1947,5,0.0,3.8,15.7,0.241,0.0,0.0,0.000,3.8,...,0.0,3.1,9.0,5,Ariel Maughan,1923.0,F,23.0,1.0,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26225,2025,5258,1.5,0.0,0.0,0.000,0.0,0.0,0.000,0.0,...,0.0,0.0,0.5,32274,Yongxi Cui,NaN,SG,21.0,1.0,2
26226,2025,5259,2.5,0.0,1.0,0.000,0.0,1.0,0.000,0.0,...,0.3,0.0,0.0,32275,Yuki Kawamura,NaN,PG,23.0,1.0,4
26227,2025,5260,19.8,2.6,5.6,0.464,0.0,0.0,0.000,2.6,...,0.8,1.6,6.8,32276,Yves Missi,NaN,C,20.0,1.0,5
26228,2025,5261,25.0,3.4,9.6,0.354,1.0,4.2,0.238,2.4,...,1.2,2.6,9.2,32277,Zaccharie Risacher,NaN,SF,19.0,1.0,5
26229,2025,5262,17.7,4.2,7.2,0.581,0.2,0.5,0.333,4.0,...,0.5,3.3,9.0,32279,Zach Edey,NaN,C,22.0,1.0,6

## All NBA List with Stats

In [8]:
all_nba_stats = pd.read_csv('all_nba_with_stats.csv')
all_nba_stats

,season,lg,type,number_tm,position,player_x,age_x,tm,pts_won,pts_max,...,tov_per_game,pf_per_game,pts_per_game,seas_id_y,player_y,birth_year,pos,age_y,experience,g
0,2024,NBA,All-NBA,1T,C,Nikola Jokić,28,DEN,495.0,495.0,...,3.000000,2.500000,26.40000,31672,Nikola Jokić,NaN,C,28.0,9.0,79
1,2024,NBA,All-NBA,1T,G,Shai Gilgeous-Alexander,25,OKC,495.0,495.0,...,0.610417,1.133333,4.50625,31770,Shake Milton,NaN,SG,27.0,6.0,96
2,2024,NBA,All-NBA,1T,F,Giannis Antetokounmpo,29,MIL,473.0,495.0,...,3.400000,2.900000,30.40000,31366,Giannis Antetokounmpo,NaN,PF,29.0,11.0,73
3,2024,NBA,All-NBA,1T,F,Jayson Tatum,25,BOS,427.0,495.0,...,2.500000,2.000000,26.90000,31468,Jayson Tatum,NaN,PF,25.0,7.0,74
4,2024,NBA,All-NBA,2T,G,Anthony Edwards,22,MIN,285.0,495.0,...,3.100000,1.800000,25.90000,31171,Anthony Edwards,NaN,SG,22.0,4.0,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,1966,NBA,All-NBA,2nd,C,Bill Russell,31,BOS,5.0,9.0,...,0.000000,2.800000,12.90000,2865,Bill Russell,NaN,C,31.0,10.0,78
1733,1966,NBA,All-NBA,2nd,G,Sam Jones,32,BOS,4.0,9.0,...,0.000000,2.500000,23.50000,2964,Sam Jones,NaN,SG,32.0,9.0,67
1734,1966,NBA,All-NBA,2nd,F,John Havlicek,25,BOS,4.0,9.0,...,0.000000,2.200000,18.80000,2926,John Havlicek,NaN,SF,25.0,4.0,71
1735,1966,NBA,All-NBA,2nd,G,Hal Greer,29,PHI,2.0,9.0,...,0.000000,3.900000,22.70000,2903,Hal Greer,NaN,SG,29.0,8.0,80
1736,1966,NBA,All-NBA,2nd,F,Gus Johnson,27,BAL,2.0,9.0,...,0.000000,3.300000,16.50000,2901,Gus Johnson,1938.0,SF,27.0,3.0,41

### Error Fixing, Luka Missing in the above CSV
(saved as "nba_per_game_fixed.csv")

In [11]:
# df_luka_awards = df_all_nba[(df_all_nba['player'] == 'Luka Dončić') & (df_all_nba['season'] == 2024)]
# df_luka_stats = df_season_stats[(df_season_stats['player'] == 'Luka Dončić') & (df_season_stats['season'] == 2024)]
# df_combined_new = pd.concat([df_luka_awards, df_luka_stats], ignore_index=True)
# df_combined_row = df_combined_new.loc[0].combine_first(df_combined_new.loc[1])

# df_result = pd.DataFrame([df_combined_row])
# df_result['player_x'] = 'Luka Dončić'
# df_result['position'] = 'G'
# df_result['age_x'] = 24

# all_nba_stats = pd.concat([all_nba_stats, df_result], ignore_index=True)
# all_nba_stats.to_csv('nba_per_game_fixed.csv', index=False)
all_nba_with_stats = pd.read_csv('nba_per_game_fixed.csv')
all_nba_with_stats

,season,lg,type,number_tm,position,player_x,age_x,tm,pts_won,pts_max,...,player_y,birth_year,pos,age_y,experience,g,player,age,seas_id,gs
0,2024,NBA,All-NBA,1T,C,Nikola Jokić,28,DEN,495.0,495.0,...,Nikola Jokić,NaN,C,28.0,9.0,79.0,NaN,NaN,NaN,NaN
1,2024,NBA,All-NBA,1T,G,Shai Gilgeous-Alexander,25,OKC,495.0,495.0,...,Shake Milton,NaN,SG,27.0,6.0,96.0,NaN,NaN,NaN,NaN
2,2024,NBA,All-NBA,1T,F,Giannis Antetokounmpo,29,MIL,473.0,495.0,...,Giannis Antetokounmpo,NaN,PF,29.0,11.0,73.0,NaN,NaN,NaN,NaN
3,2024,NBA,All-NBA,1T,F,Jayson Tatum,25,BOS,427.0,495.0,...,Jayson Tatum,NaN,PF,25.0,7.0,74.0,NaN,NaN,NaN,NaN
4,2024,NBA,All-NBA,2T,G,Anthony Edwards,22,MIN,285.0,495.0,...,Anthony Edwards,NaN,SG,22.0,4.0,79.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1733,1966,NBA,All-NBA,2nd,G,Sam Jones,32,BOS,4.0,9.0,...,Sam Jones,NaN,SG,32.0,9.0,67.0,NaN,NaN,NaN,NaN
1734,1966,NBA,All-NBA,2nd,F,John Havlicek,25,BOS,4.0,9.0,...,John Havlicek,NaN,SF,25.0,4.0,71.0,NaN,NaN,NaN,NaN
1735,1966,NBA,All-NBA,2nd,G,Hal Greer,29,PHI,2.0,9.0,...,Hal Greer,NaN,SG,29.0,8.0,80.0,NaN,NaN,NaN,NaN
1736,1966,NBA,All-NBA,2nd,F,Gus Johnson,27,BAL,2.0,9.0,...,Gus Johnson,1938.0,SF,27.0,3.0,41.0,NaN,NaN,NaN,NaN
1737,2024,NBA,All-NBA,1T,G,Luka Dončić,24,DAL,493.0,495.0,...,NaN,NaN,PG,NaN,6.0,70.0,Luka Dončić,24.0,31593.0,70.0

### Available Positions

In [10]:
nba_stats_per_game['pos'].unique()

array(['F', 'F-C', 'G', 'C', 'G-F', 'SG', 'F-G', 'SF', 'C-F', 'PG', 'PF',
       'SG-PG', 'PF-C', 'SF-SG', 'C-PF', 'SG-SF', 'PG-SG', 'PF-SF',
       'SF-PF', 'SF-PG', 'C-SF', 'PG-SF', 'SG-PF', 'SF-C', 'SG-PG-SF'],
      dtype=object)

## Calculating Stats Per Season And Postion
Here, I included the players who has two postions in calculations. For example, Tim Duncan stats is included in calculation of average statistics in both the Forward and center positions.

In [12]:
df_season_info_players = pd.read_csv('Player Season Info.csv')
df_season_info_players.rename(columns={'pos': 'eligible_position'}, inplace=True)
df_season_info_players.head()
df_season_stats_new = nba_stats_per_game.merge(
    df_season_info_players[['season', 'player_id', 'eligible_position']], 
    how='left',
    on=['season', 'player_id']
)
df_season_stats_new[df_season_stats_new['season']>= 1979]['eligible_position'].unique()
df_season_stats_new['eligible_position'] = df_season_stats_new['eligible_position'].str.strip().str.upper()
df_season_stats_new_new = df_season_stats_new.assign(
    expanded_positions=df_season_stats_new['eligible_position'].str.split('-')
)

expanded_stats = df_season_stats_new_new.explode('expanded_positions')
expanded_stats = expanded_stats.rename(columns={'expanded_positions': 'primary_pos'})

def map_primary_pos(pos):
    if isinstance(pos, str):
        if 'G' in pos:
            return 'G'
        elif 'F' in pos:
            return 'F'
        elif 'C' in pos:
            return 'C'
    return None

expanded_stats['mapped_pos'] = expanded_stats['primary_pos'].apply(map_primary_pos)

filtered_stats = expanded_stats[expanded_stats['mapped_pos'].notna()]
filtered_stats = filtered_stats[filtered_stats['season'] >= 1979]

stats_list = list(aggregation_dict.items())
numeric_columns = [x[0] for x in stats_list if x[0] != 'player' and x[0] != 'pos']
filtered_stats = filtered_stats[numeric_columns + ['season', 'mapped_pos']]

average_stats_by_season_pos = (
    filtered_stats.groupby(['season', 'mapped_pos'])[numeric_columns]
    .mean()
    .reset_index()
)

average_stats_by_season_pos

,season,mapped_pos,mp_per_game,fg_per_game,fga_per_game,fg_percent,x3p_per_game,x3pa_per_game,x3p_percent,x2p_per_game,...,stl_per_game,blk_per_game,tov_per_game,pf_per_game,pts_per_game,seas_id,birth_year,age,experience,g
0,1979,C,22.160610,3.794890,7.615368,0.477111,0.000000,0.000000,0.000000,3.794890,...,0.578939,0.993442,1.822025,2.770788,9.455703,7819.567164,1950.000000,26.134328,4.805970,87.089552
1,1979,F,21.061238,3.921360,8.022316,0.473698,0.000000,0.000000,0.000000,3.921360,...,0.705524,0.471547,1.686488,2.371412,9.745082,7817.956835,1951.310345,25.402878,4.208633,74.841727
2,1979,G,21.279241,3.930540,8.521881,0.443766,0.000000,0.000000,0.000000,3.930540,...,1.006183,0.181549,1.826105,2.028465,9.675771,7816.820144,1949.850000,26.107914,4.697842,81.388489
3,1980,C,23.317605,3.789275,7.569953,0.483515,0.000537,0.020997,0.042829,3.787785,...,0.640671,1.006769,1.744359,2.747662,9.478759,8158.138462,1949.777778,26.830769,5.538462,83.246154
4,1980,F,22.008321,3.982965,8.308488,0.465798,0.038750,0.159331,0.134787,3.943292,...,0.763774,0.502807,1.716703,2.487789,9.963840,8165.120805,1951.192308,26.046980,4.657718,78.724832
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2024,F,18.357168,2.876683,6.199776,0.443264,0.932375,2.624519,0.317992,1.946670,...,0.569007,0.387090,0.843445,1.449650,7.774149,31507.132686,NaN,26.262136,5.485437,61.576052
137,2024,G,18.650445,3.067369,7.029025,0.413099,1.119601,3.165095,0.317107,1.943717,...,0.639854,0.235533,1.046062,1.336125,8.470485,31498.885621,2000.500000,25.859477,5.352941,61.281046
138,2025,C,19.177966,3.345763,6.010169,0.543254,0.450847,1.172881,0.207085,2.896610,...,0.503390,0.822034,1.133898,2.045763,8.752542,32070.440678,NaN,26.559322,6.610169,4.016949
139,2025,F,18.996774,3.080000,6.776129,0.426710,0.916774,2.721935,0.263090,2.168387,...,0.643871,0.471613,1.047742,1.740000,8.506452,32088.116129,NaN,25.593548,5.283871,3.896774
140,2025,G,19.236181,3.145226,7.353769,0.382764,1.292965,3.589447,0.298377,1.856784,...,0.714573,0.301005,1.217085,1.540201,9.098995,32070.286432,2000.500000,26.160804,5.819095,3.773869



## Finding Emphasis by Positions
### Grouping Players by positions (guards, forwards, centers)
### Get All-nba players per season.
#### Average their stats.
### Get Average stats by players per season.
### Calculate deviations then sort descending.
### Analyze each.